# coding: utf-8

"""
    Timeular Public API

     Welcome to the documentation of Timeular Public API v1.  You can try all requests here, in documentation, with use of `Try it out` button (available in each endpoint description after folding it out).  Most of endpoints are secured. In order to access them you have to provide *Access Token*. To do so, click on `Authorize` button below and provide `Bearer <your_access_token>` as a value for `Authorization` request header. To obtain *Access Token* you have to sign-in with pair of *API Key* and *API Secret* first. API Key & API Secret can be generated on [Profile website](https://profile.timeular.com/#/app/) or, if you have Access Token already, with `POST` request to `/developer/api-access`.  **Warning:** authentication flow may change soon due to active development of Timeular and its API.  If you have any questions, please visit [Support page](http://support.timeular.com) and ask them there.  Happy API browsing!  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from timular-api.api_client import ApiClient


class TimeTrackingDevicesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def activate_device(self, device_serial, **kwargs):  # noqa: E501
        """Activate a Device  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.activate_device(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :return: DeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.activate_device_with_http_info(device_serial, **kwargs)  # noqa: E501
        else:
            (data) = self.activate_device_with_http_info(device_serial, **kwargs)  # noqa: E501
            return data

    def activate_device_with_http_info(self, device_serial, **kwargs):  # noqa: E501
        """Activate a Device  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.activate_device_with_http_info(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :return: DeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_serial']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method activate_device" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_serial' is set
        if ('device_serial' not in params or
                params['device_serial'] is None):
            raise ValueError("Missing the required parameter `device_serial` when calling `activate_device`")  # noqa: E501

        if 'device_serial' in params and not re.search('^[0-9A-Za-z-_.]{1,36}$', params['device_serial']):  # noqa: E501
            raise ValueError("Invalid value for parameter `device_serial` when calling `activate_device`, must conform to the pattern `/^[0-9A-Za-z-_.]{1,36}$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'device_serial' in params:
            path_params['deviceSerial'] = params['device_serial']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;charset=UTF-8'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/devices/{deviceSerial}/active', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def activate_device_0(self, device_serial, **kwargs):  # noqa: E501
        """Edit a Device  # noqa: E501

        With this endpoint you can set name of your Device. Name is trimmed from leading and trailing whitespaces. You can remove name from a Device by setting it null/blank/empty.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.activate_device_0(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :param DeviceEditionRequest properties_to_change: properties to change
        :return: DeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.activate_device_0_with_http_info(device_serial, **kwargs)  # noqa: E501
        else:
            (data) = self.activate_device_0_with_http_info(device_serial, **kwargs)  # noqa: E501
            return data

    def activate_device_0_with_http_info(self, device_serial, **kwargs):  # noqa: E501
        """Edit a Device  # noqa: E501

        With this endpoint you can set name of your Device. Name is trimmed from leading and trailing whitespaces. You can remove name from a Device by setting it null/blank/empty.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.activate_device_0_with_http_info(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :param DeviceEditionRequest properties_to_change: properties to change
        :return: DeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_serial', 'properties_to_change']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method activate_device_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_serial' is set
        if ('device_serial' not in params or
                params['device_serial'] is None):
            raise ValueError("Missing the required parameter `device_serial` when calling `activate_device_0`")  # noqa: E501

        if 'device_serial' in params and not re.search('^[0-9A-Za-z-_.]{1,36}$', params['device_serial']):  # noqa: E501
            raise ValueError("Invalid value for parameter `device_serial` when calling `activate_device_0`, must conform to the pattern `/^[0-9A-Za-z-_.]{1,36}$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'device_serial' in params:
            path_params['deviceSerial'] = params['device_serial']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'properties_to_change' in params:
            body_params = params['properties_to_change']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;charset=UTF-8'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/devices/{deviceSerial}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def deactivate_device(self, device_serial, **kwargs):  # noqa: E501
        """Deactivate a Device  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.deactivate_device(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :return: DeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.deactivate_device_with_http_info(device_serial, **kwargs)  # noqa: E501
        else:
            (data) = self.deactivate_device_with_http_info(device_serial, **kwargs)  # noqa: E501
            return data

    def deactivate_device_with_http_info(self, device_serial, **kwargs):  # noqa: E501
        """Deactivate a Device  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.deactivate_device_with_http_info(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :return: DeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_serial']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deactivate_device" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_serial' is set
        if ('device_serial' not in params or
                params['device_serial'] is None):
            raise ValueError("Missing the required parameter `device_serial` when calling `deactivate_device`")  # noqa: E501

        if 'device_serial' in params and not re.search('^[0-9A-Za-z-_.]{1,36}$', params['device_serial']):  # noqa: E501
            raise ValueError("Invalid value for parameter `device_serial` when calling `deactivate_device`, must conform to the pattern `/^[0-9A-Za-z-_.]{1,36}$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'device_serial' in params:
            path_params['deviceSerial'] = params['device_serial']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;charset=UTF-8'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/devices/{deviceSerial}/active', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def disable_device(self, device_serial, **kwargs):  # noqa: E501
        """Disable a Device  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.disable_device(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :return: DeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.disable_device_with_http_info(device_serial, **kwargs)  # noqa: E501
        else:
            (data) = self.disable_device_with_http_info(device_serial, **kwargs)  # noqa: E501
            return data

    def disable_device_with_http_info(self, device_serial, **kwargs):  # noqa: E501
        """Disable a Device  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.disable_device_with_http_info(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :return: DeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_serial']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method disable_device" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_serial' is set
        if ('device_serial' not in params or
                params['device_serial'] is None):
            raise ValueError("Missing the required parameter `device_serial` when calling `disable_device`")  # noqa: E501

        if 'device_serial' in params and not re.search('^[0-9A-Za-z-_.]{1,36}$', params['device_serial']):  # noqa: E501
            raise ValueError("Invalid value for parameter `device_serial` when calling `disable_device`, must conform to the pattern `/^[0-9A-Za-z-_.]{1,36}$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'device_serial' in params:
            path_params['deviceSerial'] = params['device_serial']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;charset=UTF-8'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/devices/{deviceSerial}/disabled', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def eanble_device(self, device_serial, **kwargs):  # noqa: E501
        """Enable a Device  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.eanble_device(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :return: DeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.eanble_device_with_http_info(device_serial, **kwargs)  # noqa: E501
        else:
            (data) = self.eanble_device_with_http_info(device_serial, **kwargs)  # noqa: E501
            return data

    def eanble_device_with_http_info(self, device_serial, **kwargs):  # noqa: E501
        """Enable a Device  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.eanble_device_with_http_info(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :return: DeviceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_serial']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method eanble_device" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_serial' is set
        if ('device_serial' not in params or
                params['device_serial'] is None):
            raise ValueError("Missing the required parameter `device_serial` when calling `eanble_device`")  # noqa: E501

        if 'device_serial' in params and not re.search('^[0-9A-Za-z-_.]{1,36}$', params['device_serial']):  # noqa: E501
            raise ValueError("Invalid value for parameter `device_serial` when calling `eanble_device`, must conform to the pattern `/^[0-9A-Za-z-_.]{1,36}$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'device_serial' in params:
            path_params['deviceSerial'] = params['device_serial']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;charset=UTF-8'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/devices/{deviceSerial}/disabled', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def forget_device(self, device_serial, **kwargs):  # noqa: E501
        """Forget known Device  # noqa: E501

        With this endpoint you can remove a Device from list of known Devices. In order to use it you have to make it active again with `POST` request to `/api/v1/devices/{deviceSerial}/active`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.forget_device(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.forget_device_with_http_info(device_serial, **kwargs)  # noqa: E501
        else:
            (data) = self.forget_device_with_http_info(device_serial, **kwargs)  # noqa: E501
            return data

    def forget_device_with_http_info(self, device_serial, **kwargs):  # noqa: E501
        """Forget known Device  # noqa: E501

        With this endpoint you can remove a Device from list of known Devices. In order to use it you have to make it active again with `POST` request to `/api/v1/devices/{deviceSerial}/active`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.forget_device_with_http_info(device_serial, async=True)
        >>> result = thread.get()

        :param async bool
        :param str device_serial: Serial number of a Device (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_serial']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method forget_device" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_serial' is set
        if ('device_serial' not in params or
                params['device_serial'] is None):
            raise ValueError("Missing the required parameter `device_serial` when calling `forget_device`")  # noqa: E501

        if 'device_serial' in params and not re.search('^[0-9A-Za-z-_.]{1,36}$', params['device_serial']):  # noqa: E501
            raise ValueError("Invalid value for parameter `device_serial` when calling `forget_device`, must conform to the pattern `/^[0-9A-Za-z-_.]{1,36}$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'device_serial' in params:
            path_params['deviceSerial'] = params['device_serial']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;charset=UTF-8'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/devices/{deviceSerial}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_known_devices(self, **kwargs):  # noqa: E501
        """List all known Devices  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_known_devices(async=True)
        >>> result = thread.get()

        :param async bool
        :return: DevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_known_devices_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_known_devices_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_known_devices_with_http_info(self, **kwargs):  # noqa: E501
        """List all known Devices  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_known_devices_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :return: DevicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_known_devices" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;charset=UTF-8'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/devices', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DevicesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
