# coding: utf-8

"""
    Timeular Public API

     Welcome to the documentation of Timeular Public API v2. If you want to have a look at the older and deprecated API v1 please just click on the following link: [Timeular Public API v1](./?v=v1)  You can try all requests here, in documentation, with use of `Try it out` button (available in each endpoint description after folding it out).  Most of endpoints are secured. In order to access them you have to provide *Access Token*. To do so, click on `Authorize` button below and provide `'Bearer *your_access_token*'` as a value for `Authorization` request header. To obtain *Access Token* you have to sign-in with pair of *API Key* and *API Secret* first. API Key & API Secret can be generated on [Profile website](https://profile.timeular.com/#/app/) or, if you have Access Token already, with `POST` request to `/developer/api-access`.  **Warning:** authentication flow may change soon due to active development of Timeular and its API.  If you have any questions, please visit [Support page](http://support.timeular.com) and ask them there.  Happy API browsing!  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from timeular_api.api_client import ApiClient


class TimeTrackingCurrentTrackingApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def edit_tracking(self, activity_id, **kwargs):  # noqa: E501
        """Edit Tracking  # noqa: E501

        With this endpoint, you can set/edit/remove Note of current Tracking. To remove a Note, just set the complete object to null and all values  within the object will be deleted too.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.edit_tracking(activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str activity_id: ID of an Activity on which you are tracking time, eg. `123` (required)
        :param EditTrackingRequest changed_note_of_a_tracking: changed note of a Tracking
        :return: EditTrackingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.edit_tracking_with_http_info(activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.edit_tracking_with_http_info(activity_id, **kwargs)  # noqa: E501
            return data

    def edit_tracking_with_http_info(self, activity_id, **kwargs):  # noqa: E501
        """Edit Tracking  # noqa: E501

        With this endpoint, you can set/edit/remove Note of current Tracking. To remove a Note, just set the complete object to null and all values  within the object will be deleted too.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.edit_tracking_with_http_info(activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str activity_id: ID of an Activity on which you are tracking time, eg. `123` (required)
        :param EditTrackingRequest changed_note_of_a_tracking: changed note of a Tracking
        :return: EditTrackingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['activity_id', 'changed_note_of_a_tracking']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method edit_tracking" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'activity_id' is set
        if ('activity_id' not in params or
                params['activity_id'] is None):
            raise ValueError("Missing the required parameter `activity_id` when calling `edit_tracking`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'activity_id' in params:
            path_params['activityId'] = params['activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'changed_note_of_a_tracking' in params:
            body_params = params['changed_note_of_a_tracking']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;charset=UTF-8'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/tracking/{activityId}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EditTrackingResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_current_tracking(self, **kwargs):  # noqa: E501
        """Show current Tracking  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_current_tracking(async=True)
        >>> result = thread.get()

        :param async bool
        :return: CurrentTrackingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_current_tracking_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_current_tracking_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_current_tracking_with_http_info(self, **kwargs):  # noqa: E501
        """Show current Tracking  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_current_tracking_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :return: CurrentTrackingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_current_tracking" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;charset=UTF-8'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/tracking', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CurrentTrackingResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def start_tracking(self, activity_id, **kwargs):  # noqa: E501
        """Start Tracking  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.start_tracking(activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str activity_id: ID of an Activity on which you want to track time, eg. `123` (required)
        :param StartTrackingRequest start_timestamp_of_a_tracking: start timestamp of a Tracking
        :return: StartedTrackingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.start_tracking_with_http_info(activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.start_tracking_with_http_info(activity_id, **kwargs)  # noqa: E501
            return data

    def start_tracking_with_http_info(self, activity_id, **kwargs):  # noqa: E501
        """Start Tracking  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.start_tracking_with_http_info(activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str activity_id: ID of an Activity on which you want to track time, eg. `123` (required)
        :param StartTrackingRequest start_timestamp_of_a_tracking: start timestamp of a Tracking
        :return: StartedTrackingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['activity_id', 'start_timestamp_of_a_tracking']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method start_tracking" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'activity_id' is set
        if ('activity_id' not in params or
                params['activity_id'] is None):
            raise ValueError("Missing the required parameter `activity_id` when calling `start_tracking`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'activity_id' in params:
            path_params['activityId'] = params['activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'start_timestamp_of_a_tracking' in params:
            body_params = params['start_timestamp_of_a_tracking']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;charset=UTF-8'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/tracking/{activityId}/start', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StartedTrackingResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def stop_tracking(self, activity_id, **kwargs):  # noqa: E501
        """Stop Tracking  # noqa: E501

        With this endpoint, you can create a new Time Entry by stopping current time Tracking. Resulting Time Entry should have duration no shorter than 1 minute. The new Time Entry will be created even if it overlaps with other Time Entries  – in result existing Time Entries will be split or deleted in such manner,  that new one will fit without overlapping.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.stop_tracking(activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str activity_id: ID of an Activity on which you are tracking time, eg. `123` (required)
        :param StopTrackingRequest stop_timestamp_of_a_tracking: stop timestamp of a Tracking
        :return: StoppedTrackingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.stop_tracking_with_http_info(activity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.stop_tracking_with_http_info(activity_id, **kwargs)  # noqa: E501
            return data

    def stop_tracking_with_http_info(self, activity_id, **kwargs):  # noqa: E501
        """Stop Tracking  # noqa: E501

        With this endpoint, you can create a new Time Entry by stopping current time Tracking. Resulting Time Entry should have duration no shorter than 1 minute. The new Time Entry will be created even if it overlaps with other Time Entries  – in result existing Time Entries will be split or deleted in such manner,  that new one will fit without overlapping.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.stop_tracking_with_http_info(activity_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str activity_id: ID of an Activity on which you are tracking time, eg. `123` (required)
        :param StopTrackingRequest stop_timestamp_of_a_tracking: stop timestamp of a Tracking
        :return: StoppedTrackingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['activity_id', 'stop_timestamp_of_a_tracking']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method stop_tracking" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'activity_id' is set
        if ('activity_id' not in params or
                params['activity_id'] is None):
            raise ValueError("Missing the required parameter `activity_id` when calling `stop_tracking`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'activity_id' in params:
            path_params['activityId'] = params['activity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'stop_timestamp_of_a_tracking' in params:
            body_params = params['stop_timestamp_of_a_tracking']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;charset=UTF-8'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['AuthorizationHeader']  # noqa: E501

        return self.api_client.call_api(
            '/tracking/{activityId}/stop', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StoppedTrackingResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
